<div class="body">
  <main class="article">
    <div class="content landing">
      <div class="landing-container">
        <div class="call-to-action">
          <div class="call-to-action-text">
            <div class="header">起動</div>
            <div class="short-description">Teradata Vantage ですぐに使いこなすことができます. 機能について詳しく見る. 一般的なタスクの手順を見つける. サンプルソースコードを見てみる。</div>
            <div class="button-container"><a class="call-to-action-button" href="#getting-access-to-vantage">Teradata Vantage にアクセスする</a><a class="call-to-action-button-secondary" href="#browse-content">Explorar contenido</a></div>
            <div class="alternate-action">構造化された学習を好みますか? のコースを探索する <a href="https://teradata.com/University/Overview">テラデータ大学</a></div>
          </div>
        </div>
        <div class="search-input-container">
          <input id="search-input" type="text" placeholder="Search Getting Started">
        </div>
        <div class="tile-container">
          <div class="tile-section">
            <div class="tile-section-title" id="getting-access-to-vantage">Teradata Vantage にアクセスする</div>
            <div class="tile-section-container">
              <div class="tile">
                <a href="general/run-vantage-express-on-aws.html">
                  <div class="link">
                    <div class="tile-title">Teradata Vantage Express と AWS</div>
                    <div class="tile-content">AWS のクラウドで Teradata Vantage Express を実行する。</div>
                    <div class="tile-tags">
                      <div class="tag">Teradata Vantage へのアクセス</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="general/vantage.express.gcp.html">
                  <div class="link">
                    <div class="tile-title">Teradata Vantage Express と Google Cloud</div>
                    <div class="tile-content">Google Cloud で Teradata Vantage Express を実行します。</div>
                    <div class="tile-tags">
                      <div class="tag">Teradata Vantage へのアクセス</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="general/run-vantage-express-on-microsoft-azure.html">
                  <div class="link">
                    <div class="tile-title">Azure での Teradata Vantage Express</div>
                    <div class="tile-content">Ejecute Teradata Vantage Express en la nube en Microsoft Azure.</div>
                    <div class="tile-tags">
                      <div class="tag">Accesso a Teradata Vantage</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="general/getting.started.vmware.html">
                  <div class="link">
                    <div class="tile-title">Teradata Vantage Express en VMWare</div>
                    <div class="tile-content">Aprenda a instalar Teradata Vantage Express en su máquina para desarrollo y pruebas.</div>
                    <div class="tile-tags">
                      <div class="tag">Access a Teradata Vantage</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="general/getting.started.vbox.html">
                  <div class="link">
                    <div class="tile-title">Teradata Vantage Express en VirtualBox</div>
                    <div class="tile-content">Ejecute Teradata Vantage Express en su máquina local con VirtualBox.</div>
                    <div class="tile-tags">
                      <div class="tag">Access a Teradata Vantage</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="general/getting.started.utm.html">
                  <div class="link">
                    <div class="tile-title">Teradata Vantage Express en UTM</div>
                    <div class="tile-content">Ejecute Teradata Vantage Express en su Mac con UTM. Conjunto de chips de Apple compatible.</div>
                    <div class="tile-tags">
                      <div class="tag">Access a Teradata Vantage</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="tile-section-title" id="browse-content">Tutoriales</div>
            <div class="tile-section-container">
              <div class="tile">
                <a href="general/nos.html">
                  <div class="link">
                    <div class="tile-title">Consulta de datos en el almacenamiento de objetos</div>
                    <div class="tile-content">Aprenda a analizar los datos almacenados en el almacenamiento de objetos mediante SQL.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutoriales</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="general/ml.html">
                  <div class="link">
                    <div class="tile-title">Entrene modelos de ML usando solo SQL</div>
                    <div class="tile-content">Cree modelos de aprendizaje automático usando solo SQL, sin necesidad de codificación ni movimiento de datos.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutoriales</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="general/dbt.html">
                  <div class="link">
                    <div class="tile-title">Use dbt con Teradata Vantage</div>
                    <div class="tile-content">Aprenda a usar dbt, una herramienta ELT líder, con Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutoriales</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="general/sto.html">
                  <div class="link">
                    <div class="tile-title">Ejecutar scripts en Teradata Vantage</div>
                    <div class="tile-content">Aporta lógica a tus datos. Aproveche la escala de Teradata para trabajar con datos mediante aplicaciones y scripts.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutoriales</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="tools-and-utilities/run-bulkloads-efficiently-with-teradata-parallel-transporter.html">
                  <div class="link">
                    <div class="tile-title">Ejecute grandes cargas masivas de manera eficiente</div>
                    <div class="tile-content">Explore herramientas como Teradata Parallel Transporter para cargar grandes cantidades de datos en Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutoriales</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="general/perform-time-series-analysis-using-teradata-vantage.html">
                  <div class="link">
                    <div class="tile-title">Realizar análisis de series de tiempo</div>
                    <div class="tile-content">Aprenda a hacer análisis de series temporales en Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutoriales</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="general/create-parquet-files-in-object-storage.html">
                  <div class="link">
                    <div class="tile-title">Crear archivos de Parquet en el almacenamiento de objetos</div>
                    <div class="tile-content">Explore cómo crear archivos de Parquet en el almacenamiento de objetos con datos de Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">Tutoriales</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="tile-section-title">How-tos</div>
            <div class="tile-section-container">
              <div class="tile">
                <a href="general/jdbc.html">
                  <div class="link">
                    <div class="tile-title">Conéctese a Teradata Vantage usando JDBC</div>
                    <div class="tile-content">Explore una aplicación Java de muestra que recupera datos de Teradata Vantage mediante JDBC.</div>
                    <div class="tile-tags">
                      <div class="tag">How-to</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="general/jupyter.html">
                  <div class="link">
                    <div class="tile-title">Use Teradata Vantage desde un cuaderno Jupyter</div>
                    <div class="tile-content">Use cuadernos Jupyter para hacer ciencia de datos en Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">How-to</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="general/local.jupyter.hub.html">
                  <div class="link">
                    <div class="tile-title">Implementar extensiones de Teradata Jupyter en JupyterHub</div>
                    <div class="tile-content">Siga las instrucciones para implementar extensiones de Teradata Jupyter en su propia instancia de JupyterHub.</div>
                    <div class="tile-tags">
                      <div class="tag">How-to</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/integrate-teradata-jupyter-extensions-with-google-vertex-ai.html">
                  <div class="link">
                    <div class="tile-title">Integre las extensiones de Teradata Jupyter con Google Vertex AI</div>
                    <div class="tile-content">Use Vertex AI Workbench para alojar un cuaderno Jupyterlab con extensiones Teradata Jupyter.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="general/mule.jdbc.example.html">
                  <div class="link">
                    <div class="tile-title">Consultar Teradata Vantage desde un servicio de Mulesoft</div>
                    <div class="tile-content">Este tutorial demuestra cómo ejecutar consultas en Teradata Vantage utilizando un servicio REST integrado en Mulesoft.</div>
                    <div class="tile-tags">
                      <div class="tag">How-to</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="general/odbc.ubuntu.html">
                  <div class="link">
                    <div class="tile-title">Configure ODBC en Ubuntu</div>
                    <div class="tile-content">Siga las instrucciones paso a paso para obtener una configuración ODBC de Teradata Vantage que funcione en Ubuntu.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="general/segment.html">
                  <div class="link">
                    <div class="tile-title">Almacenar eventos de Twilio Segment</div>
                    <div class="tile-content">Clone y ejecute un proyecto de muestra que escuche los eventos de Twilio Segment y los almacene en Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/sagemaker-with-teradata-vantage.html">
                  <div class="link">
                    <div class="tile-title">Use AWS SageMaker with Teradata Vantage</div>
                    <div class="tile-content">In this detailed how-to you will learn how to export data from Teradata Vantage to train a model in AWS SageMaker.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/integrate-teradata-vantage-to-salesforce-using-amazon-appflow.html">
                  <div class="link">
                    <div class="tile-title">Integrate Teradata Vantage to Salesforce using Amazon AppFlow</div>
                    <div class="tile-content">Replicate data between Teradata Vantage and Salesforce using Amazon AppFlow and S3.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/connect-azure-data-share-to-teradata-vantage.html">
                  <div class="link">
                    <div class="tile-title">Connect Azure Data Share to Teradata Vantage</div>
                    <div class="tile-content">Share data in Teradata Vantage using Azure Data Share.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/integrate-teradata-vantage-with-google-cloud-data-catalog.html">
                  <div class="link">
                    <div class="tile-title">Integrate Teradata Vantage with Google Cloud Data Catalog.</div>
                    <div class="tile-content">Put your metadata from Teradata Vantage to Google Cloud Data Catalog and explore data about data in a single tool.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="cloud-guides/use-teradata-vantage-with-azure-machine-learning-studio.html">
                  <div class="link">
                    <div class="tile-title">Use Teradata Vantage with Azure Machine Learning Studio.</div>
                    <div class="tile-content">Use data stored in Teradata Vantage to power a machine learning model developed in Azure Machine Learning Studio.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="other-integrations/integrate-teradata-vantage-with-knime.html">
                  <div class="link">
                    <div class="tile-title">Integrate Teradata Vantage with KNIME Analytics Platform.</div>
                    <div class="tile-content">Use KNIME Analytics Platform to analyze data in Teradata Vantage.</div>
                    <div class="tile-tags">
                      <div class="tag">How-tos</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="tile-section-title">Sample source code</div>
            <div class="tile-section-container source-code">
              <div class="tile">
                <a href="https://github.com/Teradata/mule-jdbc-example">
                  <div class="link">
                    <div class="tile-title">Mulesoft service that queries Taradata Teradata Vantage</div>
                    <div class="tile-content">A Mulesoft-based REST API that uses the HTTP listener, DB Configuration, and DB Select components to query Teradata Vantage.</div>
                    <div class="tile-icons">
                      <img src="{{uiRootPath}}/img/java.logo.svg" />
                      <img src="{{uiRootPath}}/img/mulesoft.logo.svg" />
                      <img src="{{uiRootPath}}/img/teradata.logo.svg" />
                    </div>
                    <div class="tile-action">view</div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://github.com/Teradata/segment-integration-tutorial">
                  <div class="link">
                    <div class="tile-title">App that stores events from Twilio Segment in Teradata Vantage</div>
                    <div class="tile-content">A Javascript application that runs on Google Cloud Run. It listens to Google Cloud Pub/Sub events coming from Twilio Segment and stores them in Teradata Vantage.</div>
                    <div class="tile-icons">
                      <img src="{{uiRootPath}}/img/nodejs.logo.svg" />
                      <img src="{{uiRootPath}}/img/twilio.logo.svg" />
                      <img src="{{uiRootPath}}/img/gcp.logo.svg" />
                      <img src="{{uiRootPath}}/img/teradata.logo.svg" />
                    </div>
                    <div class="tile-action">view</div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="https://github.com/Teradata/jdbc-sample-app">
                  <div class="link">
                    <div class="tile-title">Java app that connects to Teradata Vantage using JDBC</div>
                    <div class="tile-content">A sample application that connects to Teradata Vantage using the Teradata JDBC driver.</div>
                    <div class="tile-icons">
                      <img src="{{uiRootPath}}/img/java.logo.svg" />
                      <img src="{{uiRootPath}}/img/teradata.logo.svg" />
                    </div>
                    <div class="tile-action">view</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="doc">
            <div class="admonitionblock question landing-page">
              <table>
                <tbody><tr>
                <td class="icon">
                <i class="fa icon-question"></i>Didn’t find what you were looking for?
                </td>
                <td class="content">
                 Contribute or request a topic
                </td>
                <td class="question-action">
                  <a href="https://github.com/Teradata/quickstarts/issues">request</a>
                  <a href="https://github.com/Teradata/quickstarts">contribute</a>
                </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<style>
.call-to-action {
  margin-top: 20px;
}

@media screen and (max-width: 576px) {
  .call-to-action .call-to-action-button,
  .call-to-action .call-to-action-button-secondary {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .call-to-action {
    background-image: none;
  }

  .call-to-action-text .short-description {
    width: 100%;
  }

  .doc .admonitionblock.question.landing-page  {
    display: none;
  }

  .footer {
    display: none;
  }
}

@media screen and (min-width: 820px) {
  .call-to-action {
    background-image: url('{{uiRootPath}}/img/illustration.svg');
  }

  .call-to-action-text .short-description {
    width: 50%;
  }

  .doc .admonitionblock.question.landing-page  {
    display: inherit;
  }

  .footer {
    display: inherit;
  }
}

@media screen and (min-width: 1024px) {
  .call-to-action {
    margin-top: 48px;
  }
}

.landing-container {
  margin-left: 16px;
  margin-right: 16px;
  max-width: 1200px;
  width: 100%;
}

.landing {
  display: flex;
  width: 100%;
  justify-content: center;
}

.call-to-action {
  background-color: rgba(133, 221, 220, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  min-height: 241px;
  background-repeat: no-repeat;
  background-position: right top;
  background-origin: content-box;
  padding: 0px 10px 0px 10px;
}

.call-to-action-text {
  padding: 40px 30px 40px 30px;
}

.call-to-action-text .header {
  font-family: Arial, helvetica, sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.call-to-action-text .short-description {
  font-family: Arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 4px;
}

.search-input-container {
  width: 100%;
  margin-top: 20px;
}

.search-input-container #search-input {
  font-family: Arial, helvetica, sans-serif;
  width: 100%;
}

.tile-container {
  padding: 0px;
  width: 100%;
  margin: auto;
}

.tile-container .title {
  font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 64px;
  color: rgba(0, 0, 0, 0.87);
}

.tile-section-title {
  font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  padding-top: 24px;
  scroll-margin-top: 110px;
  scroll-snap-margin: 110px;
}

.tile {
  min-height: 188px;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  position: relative;
}

.tile:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.tile .link {
  width: 100%;
  height: 100%;
  padding: 16px;
}

@media screen and (min-width: 580px) {
  .tile-section-container.source-code {
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
  }
}

@media screen and (max-width: 580px) {
  .tile-section-container.source-code {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}

.tile-section-container.source-code {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  padding-top: 8px;
}

.tile a:hover {
  text-decoration: none;
}

.tile-section-container {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding-top: 8px;
}

.tile-title,
.tile-tags {
  font-family: Arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
}

.tile-content {
  font-family: Arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 16px;
  margin-bottom: 50px;
}

.tag {
  background: #E0E0E0;
  border-radius: 16px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 12px;
  width: fit-content;
}

.tile-tags {
  position: absolute;
  bottom: 16px;
}

.tile-action {
  font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #007373;
  border: 1px #007373 solid;
  border-radius: 8px;
  padding: 9px 8px;
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.call-to-action-button {
  background: #007373;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.87);
  padding: 11px 12px;
  margin-right: 16px;
  display: inline-block;
}

.button-container {
  margin-top: 15px;
}

.call-to-action-button:hover {
  text-decoration: none;
}

.call-to-action-button-secondary {
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  padding: 11px 12px;
  margin-top: 15px;
  background: #eaf2f2;
  display: inline-block;
}

.call-to-action-button-secondary:hover {
  text-decoration: none;
}

.search-result-dropdown-menu {
  top: initial;
  right: initial;
  max-width: 60%;
}

.tile-container .doc {
  padding: 0px;
  margin: 0px;
}

.doc .admonitionblock.question.landing-page .icon {
  text-transform: initial;
}

.question-action {
  width: 280px;
  font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.question-action a {
  color: rgba(0, 0, 0, 0.87);
  padding: 0px 20px;
}

.question-action a:hover {
  color: #f3743f;
  text-decoration: none;
}

.doc .admonitionblock.landing-page td.content {
  width: 80%;
}

div.tile-icons {
  position: absolute;
  bottom: 24px;
  left: 16px;
  display: flex;
}

.tile-icons img {
  height: 34px;
  width: 34px;
  margin: 0px 8px 0px 0px;
}

.alternate-action {
  font-size: 14px;
  margin-top: 20px;
}

.alternate-action a {
  color: #007373;
}

.alternate-action a:hover {
  text-decoration: none;
}
</style>
<!DOCTYPE html>
<html lang="{{page.attributes.html_lang}}">